/* @import "src/less/bootstrap/bootstrap.less"; */

@import "variables.less";
@import "mixins/grid.less";
@import "mixins/center-block.less";
@import "mixins/clearfix.less";

@failColor: red;
@passColor: #7fff00;
@timeColor: blue;
@triesColor: darkorange;

#exam {
    .make-md-column(5);


    #teststring {
        visibility:hidden;

        width:22em;
        margin:1em auto 1em auto;
        border:2px solid black;

        font-size: 24px;
        color:gray;

        #content {
            margin: 0.25em 0.25em;
            white-space: nowrap;
            overflow:hidden;
        }
    }

    #teststring.fail {
        border: 2px solid @failColor;
        background-color: lighten(@failColor, 40);
    }


    #keyboard {
        display: table;
        .keyboardrow {
            .make_key(32px);
        }

        /* space character key. */
        #keyspace {
            width: 15.2em;
        }

        /* indent the keyboard rows. */
        .keyboardrow {
            margin-left: 1em;
        }
        .keyboardrow + .keyboardrow{
            margin-left: 2em;
        }
        .keyboardrow + .keyboardrow + .keyboardrow{
            margin-left: 3em;
        }
        .keyboardrow + .keyboardrow + .keyboardrow + .keyboardrow{
            margin-left: 1em;
        }
        .keyboardrow + .keyboardrow + .keyboardrow + .keyboardrow + .keyboardrow {
            margin-left: 10.4em;
        }
    }


    #scores {
        .make-md-column(11);
        .center-block();
        margin-top:5em;

        .pass, .fail, .time {
            .make-md-column(3);

            padding: 0 1em;
            text-align:center;

            -webkit-border-radius: 25px;
            -moz-border-radius: 25px;
            border-radius: 25px;

            .score {
                font-size:32px;
            }

            .glyphicon {
                vertical-align:text-bottom;
                margin-left:0.5em;
                font-size:32px;
            }
        }

        .pass {
            .make-md-column-offset(1);
            border: 4px solid @passColor;
            background-color: #ddffdd;     

            .glyphicon {
                color: @passColor;
            }
        }
        .fail {
            .make-md-column-offset(1);
            border: 4px solid @failColor;
            background-color: #ffdddd;     

            .glyphicon {
                color: @failColor;
            }
        }
        .time {
            .make-md-column-offset(1);
            border: 4px solid @timeColor;
            background-color: #ddddff;     
        }
    }
}


.make_key(@size) {
    .key {
        float:left;
        width: @size + floor(@size / 8);
        height: @size + floor(@size / 4);

        margin:0.2em 0.2em;
        border:2px solid black; 

        text-align:center;
        color: gray;

        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }

    .letter {
        font-size: @size;
        font-family:monospace;

        line-height: @size;
        vertical-align:top;
    }

    .key.fail {
        color: @failColor;
        border:2px solid @failColor;
    }

    .key.pass {
        color: @passColor;
        border:2px solid @passColor;
    }
}


#tasks {
    .make-md-column-offset(1);
    .make-md-column(4);


    .taskgroup {
        .make-md-column(3);
        max-height: 600px;
        padding:0 0.1em;

        overflow:scroll;

        h1 {
            font-size:16px;
            margin:1em 0;
            text-align:center;
        }


        .task {
            margin:0.2em 0px;
            border: 1px solid yellow;
            padding:0.5em 0.5em;
                
            .keyrow {
                .clearfix();
                .make_key(16px);

                .key {
                    border:1px solid #dcdcdc;
                    padding-bottom:2px;
                };
            }

            .key:nth-child(4) {
                .clearfix();
            }

            .scores {
                .clearfix();
                margin:0.2em 0.5em 0 0.5em;

                .pass, .time {
                    float:left;
                }
                .fail, .tries {
                    float:right;
                }

                .pass {
                    .glyphicon {
                        color: @passColor;
                    }
                }
                .fail {
                    .glyphicon {
                        color: @failColor;
                    }
                }
                .time {
                    clear:right;
                    .glyphicon {
                        color: @timeColor;
                    }
                }
                .tries {
                    .glyphicon {
                        color: @triesColor;
                    }
                }
            }
        }

    }
}
